# Terraform files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Node.js files
app/node_modules/
app/package-lock.json

# Other temporary files
*.log
*.txt
*.json
